.v-data-table-header th {
  white-space: nowrap;
  vertical-align: middle;
}

.v-chip__content {
  font-weight: 500 !important;
}

.v-breadcrumbs__item {
  color: inherit !important;
}

.v-breadcrumbs__divider {
  color: inherit !important;
}

.v-breadcrumbs__item--disabled {
  opacity: 0.6;
}
